@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Tilt Neon", sans-serif;
    font-size: 23px;
    letter-spacing: 3px;
    background-color: #f2f3f4;
}

.regresar{
    right: 40px;
    top: 15px;
    padding: 20px 50px;
}

.fix{
    width: 100%;
    height: 85px;
    background-color: #efb810;
}

.sep-fix{
    width: 100%;
    height: 50px;
    background-color: #f2f3f4;
}


/* ------------------------------------------------------------------------------------------------ Index ------------------ */

/* ----------------------------------- 1er nav ------------------ */

.nav{
    position: fixed;
    display: flex;
    background-color: #466d1d;
    width: 100%;
    height: 80px;
    padding: 5px;
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #466d1d;
}

.elemento-nav{
    background-color: #466d1d;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}

.container-logos{
    display: flex;
    padding: 20px;
    background-color: #466d1d;
    list-style: none;
    cursor: pointer;
}

.container-barra{
    display: flex;
    padding: 10px;
    background-color: #466d1d;
    list-style: none;
    cursor: pointer;
}

.sep-logos{
    padding: 0 30px;
    background-color: #466d1d;
}

#btn-menu{
    display: none;
}

/* ----------------------------------- Nav desplegable ------------------ */

.container-menu-desplegable{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left:  0;
    transition: all 500ms ease;
}

.cont-menu-desplegable{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
}

.cont-menu-desplegable-nav{
    transform: translateY(15%);
}

.cont-menu-desplegable-nav-a{
    background: #1c1c1c;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

.cont-menu-desplegable-nav-a:hover{
    border-left: 5px solid #ffffff;
    background-color: #597d35;
}

.icon-equis{
    position: relative;
    left: 170px;
    top: 50px;
    background: #1c1c1c;
}

.bg-barra{
    background: #1c1c1c;
}

/* ----------------------------------- 2do nav ------------------ */

.nav-snd{
    width: 100%;
    height: 45px;
    background-color: #728c69;
}

.nav-snd-container{
    display: flex;
    justify-content: center;
    background-color: #728c69;
}

.nav-snd:hover{
    background-color: #efb810;
}

.elemento-nav-snd{
    color: #ffffff;
    text-decoration: none;
    margin: 10px  50px;
    font-weight: bold;
    font-size: 18px;
    background-color: #728c69;
}

.elemento-nav-snd:hover{
    color: #1c1c1c;
}

/* ----------------------------------- Nav desplegable ------------------ */

.noticia-container{
    display: flex;
    justify-content: center;
    width: 75%;
}

.noti-container{
    padding: 20px;
    width: 100%;
    height: 500px;
    background-color: #efb810;
}

/* ------------------------------------------------------------------------------------------------ Ubicacion ------------------ */

.ub{
    display: flex;
    justify-content: center;
}

.ub-container{
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 0 0 30px 0;
}

.ub-titulo{
    font-weight: bold;
    font-size: 35px;
    padding: 0px 0 20px 0;
}

.contact-container{
    display: flex;
    justify-content: center;
    width: 75%;
}

.contactanos-container{
    padding: 20px;
    width: 100%;
}

.nosotros-container{
    padding: 20px;
    width: 100%;
}

.contact-titulo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    background-color: #597d35;
    color: #ffffff;
}

.contact-txt{
    font-size: 15px;
}

.padding-datos-contacto{
    padding: 15px;
}

.padding-inputs-contacto{
    padding: 15px 0 0 15px;
}

.leyendas-txt{
    display: flex;
    justify-content: center;
    font-size: 15px;
}