@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/*
https://saposyprincesas.elmundo.es/ocio-en-casa/lectura-libros-ninos/libros-premiados-2023/
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Tilt Neon", sans-serif;
    font-size: 23px;
    letter-spacing: 3px;
    background-color: #f2f3f4;
}

/* ----------------------------------- Espacios vacios por detrás del fixed + margen ------------------ */

.fix{
    width: 100%;
    height: 85px;
    background-color: #efb810;
}

.sep-fix{
    width: 100%;
    height: 50px;
    background-color: #f2f3f4;
}

.regresar{
    position: absolute;
    right: 0px;
    top: 130px;
    padding: 20px 50px;
}


/* ------------------------------------------------------------------------------------------------ Index ------------------ */

/* ----------------------------------- 1er nav ------------------ */

.nav{
    position: fixed;
    display: flex;
    background-color: #466d1d;
    width: 100%;
    height: 80px;
    padding: 5px;
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #466d1d;
}

.elemento-nav{
    background-color: #466d1d;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}

.container-logos{
    display: flex;
    padding: 20px;
    background-color: #466d1d;
    list-style: none;
    cursor: pointer;
}

.container-barra{
    display: flex;
    padding: 10px;
    background-color: #466d1d;
    list-style: none;
    cursor: pointer;
}

.sep-logos{
    padding: 0 30px;
    background-color: #466d1d;
}

#btn-menu{
    display: none;
}

/* ----------------------------------- Nav desplegable ------------------ */

.container-menu-desplegable{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left:  0;
    transition: all 500ms ease;
}

.cont-menu-desplegable{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
}

.cont-menu-desplegable-nav{
    transform: translateY(15%);
}

.cont-menu-desplegable-nav-a{
    background: #1c1c1c;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

.cont-menu-desplegable-nav-a:hover{
    border-left: 5px solid #ffffff;
    background-color: #597d35;
}

.icon-equis{
    position: relative;
    left: 170px;
    top: 50px;
    background: #1c1c1c;
}

.bg-barra{
    background: #1c1c1c;
}

.bg-des{
    width: 100%;
    height: 730px;
    background-image: url(img/portadas/408090.jpg);
    background-size: cover;
}
/* ----------------------------------- 2do nav ------------------ */

.nav-snd{
    width: 100%;
    height: 45px;
    background-color: #728c69;
}

.nav-snd-container{
    display: flex;
    justify-content: center;
    background-color: #728c69;
}

.nav-snd:hover{
    background-color: #efb810;
}

.elemento-nav-snd{
    color: #ffffff;
    text-decoration: none;
    margin: 10px  50px;
    font-weight: bold;
    font-size: 18px;
    background-color: #728c69;
}

.elemento-nav-snd:hover{
    color: #1c1c1c;
}

/* ----------------------------------- Seccion de noticias ------------------ */

.noticia-container{
    display: flex;
    justify-content: center;
    width: 75%;
}

.noti-container{
    display: flex;
    padding: 20px;
    width: 100%;
    height: 270px;
    background-color: #efb810;
}

.noti2-container{
    display: flex;
    padding: 20px;
    width: 100%;
    height: 80px;
}

.noticia-eslogan{
    width: 55%;
    font-size: 40px;
    padding: 20px;
}

.noti2-container:hover{
    color: #efb810;
    font-size: 25px;
}

.portadas-pad{
    padding: 0 0 0 20px;
    background-color: #efb810;
    cursor: pointer;
}

.portadas-bg{
    background-color: #efb810;
}

.hov:hover{
    opacity: 0.5;
}

/* ----------------------------------- Seccion de spam ------------------ */

.spam-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0 0 0;
}

.sp-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sp-titulo{
    font-size: 35px;
    color: #466d1d;
}

.sp-atributos{
    display: flex;
}

.sp-txt{
    padding: 0 50px 30px 0;
    font-size: 20px;
}

.sp-txt:hover{
    color: #efb810;
    font-size: 25px;
}

.position-portada-ex{
    display: flex;
    justify-content: center;
}

/* ----------------------------------- Seccion de spam ------------------ */

.favoritos-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0 0 0;
}

.fav-container{
    display: flex;
    justify-content: center;
}

.fav-titulo{
    font-size: 30px;
    color: #1c1c1c;
}

.favs-portadas{
    padding: 10px;
    width: 240px;
    height: 400px;
}

.padding-favs{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.txt-favs{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.precios-favs{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------ Ubicacion ------------------ */

.ub{
    display: flex;
    justify-content: center;
}

.ub-container{
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 0 0 30px 0;
}

.ub-titulo{
    font-weight: bold;
    font-size: 35px;
    padding: 0px 0 20px 0;
}

.contact-container{
    display: flex;
    justify-content: center;
    width: 75%;
}

.contactanos-container{
    padding: 20px;
    width: 100%;
}

.nosotros-container{
    padding: 20px;
    width: 100%;
}

.contact-titulo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    background-color: #597d35;
    color: #ffffff;
}

.contact-txt{
    font-size: 15px;
}

.padding-datos-contacto{
    padding: 13px 20px;
}

.padding-inputs-contacto{
    display: flex;
    justify-content: center;
    padding: 15px 0 0 15px;
}

.padding-inputs-contacto{
    display: flex;
    justify-content: center;
    padding: 15px 0 0 15px;
}

.leyendas-txt{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.boton-submit-txt{
    font-size: 20px;
    padding: 5px 50px;
}

/* ------------------------------------------------------------------------------------------------ Ubicacion ------------------ */

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: #1c1c1c;
}

.footer-mini-amarillo{
    width: 100%;
    height: 10px;
    background-color: #efb810;
}

.pad-minifoo{
    padding: 50px 0 0 0;
}

.footer-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1c1c1c;
}

.footer-section{
    padding: 20px;
    width: 100%;
    background-color: #1c1c1c;
}

.footer-titulo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    background-color: #728c69;
    color: #ffffff;
}

.footer-txt{
    padding: 20px 30px;
    font-size: 15px;
    color: #ffffff;
    background-color: #1c1c1c;
}

.spam-footer{
    padding: 15px;
    font-size: 15px;
    color: #ffffff;
    background-color: #1c1c1c;
}

.footer-back{
    background-color: #1c1c1c;
    padding: 0 10px;
}

/* ------------------------------------------------------------------------------------------------ Login ------------------ */

.login-container{
    display: flex;
    justify-content: center;
    height: 350px;
}

.login-containers{
    width: 80%;
}


.position-btn-login{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

.position-btn-login-wp{
    display: flex;
    justify-content: center;
    width: 100%;
}

.position-btn-end{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 50px;
}

.login-pad{
    padding: 15px;
}

.login-pad-cc{
    padding: 10px;
}

.dis{
    display: flex;
}

.sep-elementos-login{
    display: flex;
    font-size: 20px;
}

.cc-container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    width: 75%;
}

.ccc-container{
    padding: 20px;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------ Verano ------------------ */


.position-portada-e{
    display: flex;
    justify-content: flex-end;
}

.hover-portadas:hover{
    box-shadow: 0 0 13px 13px #728c69;
}

.dis-center{
    display: flex;
    justify-content: center;
}

.sep-elementos-verano-sec{
    display: flex;
    font-size: 20px;
    color: #1c1c1c;
}

.sep-elementos-verano{
    display: flex;
    font-size: 25px;
    color: #efb810;
}

.center-log-estrella{
    display: flex;
    justify-content: center;
}

.pad-estrella{
    padding-left: 30px;
}

.verano-container{
    display: flex;
    justify-content: center;
    height: 420px;
}

.ver-container{
    display: flex;
    justify-content: center;
    width: 70%;
}

.txt-verano{
    display: flex;
    text-align: justify;
    font-size: 18px;
}